<div class="pe-active-rituals-container">
    <header class="pe-active-header">
        <span>{{localize "PE.Ritual.ActiveRituals.Label.Ritual"}}</span>
        <span>{{localize "PE.Ritual.ActiveRituals.Label.Target"}}</span>
        <span>{{localize "PE.Ritual.ActiveRituals.Label.Action"}}</span>
    </header>
    
    <ul class="pe-ritual-list">
    {{#each rituals}}
        <li class="pe-ritual-item" data-instance-id="{{this.id}}">
            <span class="pe-ritual-name">{{this.name}}</span>
            <span class="pe-ritual-target">{{this.targetName}}</span>
            <button type="button" class="pe-btn-terminate" data-action="terminate" title="{{localize 'PE.Ritual.ActiveRituals.Button.Terminate'}}">
                <i class="fas fa-times-circle"></i>
            </button>
        </li>
    {{else}}
        <p class="pe-empty-list">{{localize "PE.Ritual.ActiveRituals.NoActiveRituals"}}</p>
    {{/each}}
    </ul>
</div>